.product {
  background-color: #000;
  width: 400px;
  height: 510px;
  border-radius: 10px;
  position: relative;
  text-align: center;
}

.product img {
  width: 290px;
  height: 290px;
  border-radius: 8px;
  margin: 5px;
}

.product-info {
  margin: 15px;
  color: #fff;
  
}

.product-name {
  font-style: "normal";
  font-weight: 500;
}

.add-to-cart-btn{
    width: 60%;
    border: none;
    border-radius: 10px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 0;
    transition: .4s;
}
.add-to-cart-btn:hover{
  color: orange;
  background-color: #fff;
}
.add-to-cart-btn p {
    padding-top: 12px;
    margin-right: 15px;
}
.btn-icon{
    margin-left: 10px;
}
